
<%- include('../comunes/cabecera') %>
<div class="container">



    <h1>Actualizar Pelicula</h1>

    <form action="/movie/actualizar-movie-formulario/<%=datos.pelicula.id%>" method="post">


        <div class="mb-3">
            <label for="nombre" class="form-label"> Nombre </label>
            <input placeholder="Ej: Boris"
                   type="text"
                   name="nombre"
                   class="form-control"
                   id="nombre"
                   value="<%=datos.pelicula.nombre%>"
                   aria-describedby="ayudaNombre">
            <div id="ayudaNombre" class="form-text"> Ingrese el nombre. </div>
        </div>


        <div class="mb-3">
            <label for="director" class="form-label"> Director </label>
            <input placeholder="Ej: Caiza"
                   type="text"
                   name="director"
                   class="form-control"
                   id="director"
                   value="<%=datos.pelicula.director%>"
                   aria-describedby="ayudaDirector">
            <div id="ayudaDirector" class="form-text"> Ingrese el nombre del director. </div>
        </div>


        <div class="mb-3">
            <label for="fechaEstreno" class="form-label"> Fecha de Estreno </label>
            <input placeholder="Ej: 2021-02-09"
                   type="date"
                   name="fechaEstreno"
                   class="form-control"
                   id="fechaEstreno"
                   value="<%=datos.pelicula.fechaEstreno.getDay() + "/"+ datos.pelicula.fechaEstreno.getMonth() + "/" + datos.pelicula.fechaEstreno.getFullYear()%>"
                   aria-describedby="ayudafechaEstreno">
            <div id="ayudafechaEstreno" class="form-text"> Ingrese la fecha de estreno. </div>
        </div>




        <div class="mb-3">
            <label for="taquilla" class="form-label"> Taquilla </label>
            <input placeholder="Ej:10000.0"
                   type="text" step="any"
                   name="taquilla"
                   class="form-control"
                   id="taquilla"
                   value="<%=datos.pelicula.taquilla%>"
                   aria-describedby="ayudaTaquilla">
            <div id="ayudaTaquilla" class="form-text"> Ingrese la taquilla. </div>
        </div>

        <div class="mb-3">

            <%if(datos.pelicula.cartelera == true){%>
                <label><input type="checkbox" id="cartelera" name="cartelera" checked="checked"> Cartelera</label>
                <div id="ayudaCartelera" class="form-text">Esta en cartelera</div>

            <%}else{%>
                <label><input type="checkbox" id="cartelera" name="cartelera"> Cartelera</label>
                <div id="ayudaCartelera" class="form-text">¿Esta en cartelera?</div>
            <%}%>


        </div>




        <button type="submit" class="btn btn-primary w-100">Actualizar</button>


    </form>

</div>

<%- include('../comunes/footer') %>
